# 忽略 node_modules 依赖包
node_modules/

# HBuilderX 输出目录
unpackage/
dist/
build/

# 编译缓存或中间文件
*.tmp
*.temp
*.log

# 系统生成的无用文件
.DS_Store
Thumbs.db

# 编辑器配置文件
.vscode/
.idea/
.settings/
.project

# 微信开发者工具临时目录（如有）
wechat_devtools/

# HBuilderX 项目相关的隐藏目录
.hbuilderx/

# 锁定文件
package-lock.json
pnpm-lock.yaml
yarn.lock
common/http.interceptor.js

# 环境变量文件（如使用）
.env.local
.env.*.local
