@font-face {
  font-family: "iconfont"; /* Project id 4981937 */
  src: url('iconfont.woff2?t=1762155217392') format('woff2'),
       url('iconfont.woff?t=1762155217392') format('woff'),
       url('iconfont.ttf?t=1762155217392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ydj-weixin:before {
  content: "\e620";
}

.ydj-a-zu5078:before {
  content: "\e604";
}

.ydj-weixin-fill:before {
  content: "\e623";
}

.ydj-zhuanfa:before {
  content: "\e602";
}

.ydj-a-zu5112:before {
  content: "\e601";
}

.ydj-qiehuan:before {
  content: "\e622";
}

